<div class="just-padding">
  <div class="list-group list-group-root well">
    {% for nav in site.data.nav %}
      {% if nav.subcategories != null %}
        <a href="{{ site.url }}{{ nav.url }}" class="list-group-item" data-toggle="collapse"><i class="glyphicon glyphicon-chevron-right"></i>{{ nav.title }}</a>
          <div class="list-group collapse" id="item-{{ nav.title }}">
          {% for subcategory in nav.subcategories %}
            <a href="{{ site.url }}{{ subcategory.subhref }}" class="list-group-item">{{ subcategory.subtitle }}</a>
          {% endfor %}
          </div>
      {% elsif nav.title == page.title %}
        <a href="{{ site.url }}{{ nav.url }}" class="list-group-item active" data-toggle="collapse"><i class="glyphicon glyphicon-chevron-right"></i>{{ nav.title }}</a>
      {% else %}
        <a href="{{ site.url }}{{ nav.url }}" class="list-group-item" data-toggle="collapse"><i class="glyphicon glyphicon-chevron-right"></i>{{ nav.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
