<div class="panel panel-default">
    <div class="panel-heading">
        <span class="text-primary"><b>Services Categories</b></span>
    </div>
    <div class="panel-body">
        <div class="panel-group" id="accordion">
            {% for category in site.categories %}
            {% capture cat %}{{ category | first }}{% endcapture %}
            {{ cat }},{{ page.categories }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" name="{{ category | first }}" href="#{{ category | first }}">{{ category | first }}</a>
                    </h4>
                </div>
                {% if cat contains page.categories %}
                <div id="{{ category | first }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            {% for posts in category %}
                              {% for post in posts %}
                                {% if post.url %}
                                  <li>
                                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div id="{{ category | first }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            {% for posts in category %}
                              {% for post in posts %}
                                {% if post.url %}
                                  <li>
                                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
