.navbar {
    position: relative;
    min-height: 76px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.form-group-lg #cse-search-form {
  padding: 15px 30px;
  position: relative;
}
.form-group-lg #cse-search-form .btn {
  background: transparent;
  border: 0;
  padding-left: 0;
  padding-right: 9px;
  position: absolute;
  right: 26px;
  top: 13px;
}
.form-group-lg #cse-search-form .form-control {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333333;
  height: auto;
  padding: 2px 26px 2px 4px;
}
.form-group-lg #cse-search-form::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-group-lg #cse-search-form:-moz-placeholder {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-group-lg #cse-search-form::-moz-placeholder {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-group-lg #cse-search-form:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage {
  background-color: #f8f8f8;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  color: #333333;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-brand {
  background: transparent url("http://assets-digitalgarage-infra.apps.thedigitalgarage.io/images/DigitalGarage_logo.svg") no-repeat 50% 21px;
  background-size: contain;
  margin-left: 119px;
  margin-right: 15px;
  padding-top: 22px;
  width: 158px;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-nav > li > a {
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-nav > li > a:hover {
  background-color: #eff0ef;
  color: black;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-nav > li > a > .caret {
  border-width: 5px;
  border-bottom-width: 0;
  margin-left: 8px;
  margin-top: -4px;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-quicklinks li > a {
  padding-left: 15px;
  padding-right: 15px;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-right > li > a.nav-sign-up {
  background-color: #1dcc00;
  color: #fff;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-right > li > a.nav-sign-up:hover {
  background-color: #bf0000;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-right > li > a.nav-sign-up:active {
  background-color: #bf0000;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-right > li > .dropdown-menu a {
  padding-left: 30px;
  padding-right: 30px;
}
.form-group-lg .navbar.navbar-default.navbar-digital-garage .navbar-brand {
  background: transparent url("http://assets-digitalgarage-infra.apps.thedigitalgarage.io/images/DigitalGarage_logo.svg") no-repeat;
  background-size: contain;
  margin-left: 22px;
  margin-right: 15px;
  margin-top: 23px;
}
.form-group-lg .os {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
