<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container">
      <p class="toggle-nav visible-xs pull-left">
        <button class="btn btn-default btn-sm" type="button" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class"breadcrumbs">
        {% for crumb in breadcrumbs %}
          <a href="{{ crumb.url | prepend:site.baseurl }}">
            {{
              crumb.title
            }}
          </a>

          {% unless forloop.last == true %}
            >
          {% endunless %}
        {% endfor %}
      </div>
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-offcanvas">
          <div class="row-fluid">
            {% include search.html %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 main">
          <div class="page-header">
            <h2><%= article_title %></h2>
          </div>
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
