<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container">
      <p class="toggle-nav visible-xs pull-left">
        <button class="btn btn-default btn-sm" type="button" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <ol class="breadcrumb">
        <li class="sitename">
          <a href="../../welcome/index.html">{{ site.title }}</a>
        </li>
        <li class="hidden-xs active">
          <%= breadcrumb_root %>
        </li>
        <li class="hidden-xs active">
          <%= breadcrumb_group %>
        </li>
        <%= breadcrumb_subgroup_block %>
        <li class="hidden-xs active">
          <%= breadcrumb_topic %>
        </li>
      </ol>
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-offcanvas">
          <div class="row-fluid">
            {% include head.html %}
          </div>
          <%= render("_templates/_nav_openshift.html.erb", :navigation => navigation, :group_id => group_id, :topic_id => topic_id, :subgroup_id => subgroup_id, :subtopic_shim => subtopic_shim) %>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 main">
          <div class="page-header">
            <h2><%= article_title %></h2>
          </div>
          {{ content }}
        </div>
      </div>
    </div>

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
