<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container">
      <p class="toggle-nav visible-xs pull-left">
        <button class="btn btn-default btn-sm" type="button" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">Toolbox</a></li>
        {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
        {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
        {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
        {% for i in (1..forLoopMaxInt) %}
          {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
          {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
          {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
          {% for breadcrumb_page in site.pages %}
            {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
            {% assign j = forLoopMaxInt | plus: 0 %}
              <li {% if i == j %}class="active"{% endif %}>
                {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.breadcrumb}}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ol>
      <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-offcanvas">
          <div class="row-fluid">
            {% include search.html %}
          </div>
          <div class="row-fluid">
            {% include menu.html %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 main">
          <div class="page-header">
            <h2><%= article_title %></h2>
          </div>
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
